@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300&display=swap');

html {
  background-color: #ECE9F1;
  font-family: Roboto, sans-serif;
}

header {
  height: 217px;
  background-color: #ECE9F1;
  text-align: center;
}

header img {
  height: 115px;
  width: 91px;
  float: left;
}

aside {
  background-color: #373867;
  height: 5697px;
  width: 271px;
  padding: 20px;
  float: left;
  margin-right: 30px;
}

img {
  max-width: 481px;
  max-height: 491px;
}