<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/Images/radium-rocket-logo.png"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <title>Mega Rocket</title>
  </head>
  <body>
    <header>
      <img src="../Assets/Images/radium-rocket-logo.png" alt="icon gym">
      <div class="text-header">
        <p>The Best GYM</p>
        <h1>Mega Rocket</h1>
      </div>
      <span class="material-symbols-outlined">Menu</span>
    </header>
    <main>
      <aside>
        <div class="menu">
          <nav>
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Log In</a>
              </li>
              <li>
                <a href="#">Sign Up</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
            <p>
              +54341656578
              megarocket@info.com
              Calle Mega Rocket SA
              Nº 124, Rosario, Santa Fe, Argentina, CP: 2000.
            </p>
          </nav>
        </div>
      </aside>
      <div class="container">
        <section class="our-philo">
          <h2>Our Philoshophy & Commitment</h2>
          <p>
            We are a gym that is based on well being, and care for each other. We are a community of people
            focused on being better in all aspects of life, including physical health.
          </p>
        </section>
        <section class="why-mega">
          <div class="why-01">
            <h2>Why Mega Rocket?</h2>
            <p>
              We have 324 spaces all around the world designed just for YOU to be better.
              Take care of yourself, we have everything that you could possibly need to have better physical health.
            </p>
          </div>
          <div class="why-02">
            <img src="../Assets/Images/why-megarocket.png" alt="img why megarocket">
          </div>
        </section>
        <div class="join-activities">
          <h3>Join Our Activities!</h3>
        </div>
        <section class="classes activities">
          <div class="img-crossfit img-activities">
            <h3>CROSSFIT</h3>
            <p>Equipment granted, lift, build muscle, and gain strength</p>
          </div>
          <div class="img-spinning img-activities">
            <h3>SPINNING</h3>
            <p>All around the world, with the best music, and teachers</p>
          </div>
          <div class="img-functional img-activities">
            <h3>FUNCTIONAL</h3>
            <p>Build muscle and agility</p>
          </div>
          <div class="img-boxing img-activities">
            <h3>BOXING</h3>
            <p>Best techniques, equipment, and levels.</p>
          </div>
          <div class="img-training img-activities">
            <h3>WEIGHT TRAINING</h3>
            <p>Lift up, we have every weigth you will need</p>
          </div>
        </section>
        <div class="mega-member">
          <h3>Mega Rocket Membership</h3>
        </div>
        <section class="membership">
          <div class="div-membership">
            <img src="../Assets/Images/kid-membership.png" alt="img only classes">
            <div class="only-classes sec-membership">
              <h4>Only Classes</h4>
              <h5>Membership</h5>
              <ul>
                <li>✔ Free access to classes</li>
                <li>✔ Grid display</li>
              </ul>
              <p class="text-01">Cheaper for you, and great for starting, only classes. </p>
              <button type="button">Suscribe!</button>
            </div>
          </div>
          <div class="div-membership">
            <img src="../Assets/Images/clasic-membership.png" alt="img classic">
            <div class="classic sec-membership">
              <h4>Classic</h4>
              <h5>Membership</h5>
              <ul>
                <li>✔ Free access to the weight room</li>
                <li>✔ Personalized follow up by a trainer</li>
                <li>✔ Grid display</li>
              </ul>
              <p class="text-02">With this membership, you can have anything you need and more!</p>
              <button type="button">Join Now!</button>
            </div>
          </div>
          <div class="div-membership">
            <img src="../Assets/Images/black-membership.png" alt="img black membership">
            <div class="black sec-membership">
              <h4>Black</h4>
              <h5>Membership</h5>
              <ul>
                <li>✔ Free access to the weight room</li>
                <li>✔ Free access to classes</li>
                <li>✔ Personalized follow up by a trainer</li>
                <li>✔ Grid display</li>
              </ul>
              <p class="text-03">If you want to be THE BEST, this is the membership for you.</p>
              <button type="button">Go All-In!</button>
            </div>
          </div>
        </section>
        <section class="universe">
          <div class="art-reservation art-universe">
            <div class="universe-container">
              <h4>Universe</h4>
              <h4>Mega Rocket!</h4>
              <h5>Reservation</h5>
              <p>
                Here you can tap and make sure to have a place on your favourite class!
              </p>
            </div>
            <img src="../Assets/Images/RESERVATION-.png" alt="img reservation">
          </div>
          <div class="art-membership art-universe">
            <div class="universe-container">
              <h4>Universe</h4>
              <h4>Mega Rocket!</h4>
              <h5>Membership</h5>
              <p>
                Tap here to see all the memberships we offer!
              </p>
            </div>
            <img src="../Assets/Images/memberships.png" alt="img memberships">
          </div>
          <div class="art-weekly art-universe">
            <div class="universe-container">
              <h4>Universe</h4>
              <h4>Mega Rocket!</h4>
              <h5>Weekly Schedule</h5>
              <p>
                Tap here to see all of our classes during the week and the time table for them!
              </p>
            </div>
            <img src="../Assets/Images/weekly-schedule.png" alt="img weekly schedule">
          </div>
          <div class="art-contact art-universe">
            <div class="universe-container">
              <h4>Universe</h4>
              <h4>Mega Rocket!</h4>
              <h5>Contact & Suggestions</h5>
              <p>
                If you have any questions, want more info, or have a suggestion, please tap here!
              </p>
            </div>
            <img src="../Assets/Images/contact-and-suggestions.jpg" alt="img contact and suggestions">
          </div>
        </section>
        <section class="sec-form">
          <form>
            <h5>Got Any Questions?</h5>
            <div class="sec-form-complain">
              <input type="radio" id="complain" name="question" value="complain">
              <label for="complain"> I would like to do a complain</label>
            </div>
            <div class="sec-form-opinion">
              <input type="radio" id="opinion" name="question" value="opinion">
              <label for="opinion"> I would like to make a suggestion/opinion</label>
            </div>
            <div class="sec-form-about">
              <input type="radio" id="about" name="question" value="about">
              <label for="about"> I would like to know more about Membership and Prices</label>
            </div>
            <div class="sec-input">
              <input class="input-name" type="text" placeholder="NAME">
              <input class="input-surname" type="text" placeholder="SURNAME">
              <input class="input-email" type="email" placeholder="EMAIL">
            </div>
            <div class="sec-form-message">
              <label for="message">Write your message</label>
              <textarea class="textarea" id="message" name="message" cols="40" rows="2" placeholder="..."></textarea>
            </div>
            <button type="submit">Submit</button>
          </form>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer-social-media">
        <a href="https://www.facebook.com/" target="_blank">
          <img src="../Assets/Images/facebook-logo.png" alt="Facebook icon"/>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../Assets/Images/instagram-logo.png" alt="Instagram icon"/>
        </a>
        <a href="https://www.twitter.com/" target="_blank">
          <img src="../Assets/Images/twitter-logo.png" alt="Twitter icon"/>
        </a>
      </div>
      <p>©2023 MEGAROCKET GYM. ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>