<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../Assets/Images/radium-rocket-logo.png"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <title>Sign Up</title>
    <script defer src="../js/sign-up.js"></script>
  </head>
  <body>
    <header>
      <img src="../../Assets/Images/radium-rocket-logo.png" alt="icon gym">
      <div class="text-header">
        <p>The Best GYM</p>
        <h1>Mega Rocket</h1>
      </div>
      <div class="new">
        <a href="../views/index.html">Home</a>
        <a href="../views/login.html">Login</a>
      </div>
    </header>
    <main>
      <aside>
        <div class="menu">
          <nav>
            <ul>
              <li>
                <a href="../views/index.html">Home</a>
              </li>
              <li>
                <a href="../views/login.html">Log In</a>
              </li>
              <li>
                <a href="../views/sign-up.html">Sign Up</a>
              </li>
              <li>
                <a href="../views/index.html">Contact</a>
              </li>
            </ul>
            <p>
              +54341656578
              megarocket@info.com
              Calle Mega Rocket SA
              Nº 124, Rosario, Santa Fe, Argentina, CP: 2000.
            </p>
          </nav>
        </div>
      </aside>
      <form>
        <div class="title-create">
          <h2>Create Account</h2>
        </div>
        <div class="input-create">
          <div class="create-input create-input-name">
            <h2>Name</h2>
            <input id="name" class="input-name" type="text" placeholder="NAME">
            <p id="message-default-name">Letters only and must have more than 3 letters.</p>
            <p class="success" id="name-success">The format looks good.</p>
            <span id="name-error" class="error"></span>
          </div>
          <div class="create-input create-input-lastname">
            <h2>Lastname</h2>
            <input id="lastname" class="input-lastname" type="text" placeholder="LASTNAME">
            <p id="message-default-lastname">Letters only and must have more than 3 letters.</p>
            <p class="success" id="lastname-success">The format looks good.</p>
            <span id="lastname-error" class="error"></span>
          </div>
          <div class="create-input create-input-id">
            <h2>ID Number</h2>
            <input id="id-number" class="input-id" type="text" placeholder="ID NUMBER">
            <p id="message-default-id">Only numbers and must have more than 7 numbers.</p>
            <p class="success" id="id-success">The format looks good.</p>
            <span id="id-error" class="error"></span>
          </div>
          <div class="create-input create-input-date">
            <h2>Date</h2>
            <input id="date" class="input-date" type="date" placeholder="DATE OF BIRTH">
            <p id="message-default-date">With format dd/mm/yyyy.</p>
            <p class="success" id="date-success">The format looks good.</p>
            <span id="date-error" class="error"></span>
          </div>
          <div class="create-input create-input-phone">
            <h2>Phone</h2>
            <input id="phone" class="input-phone" type="text" placeholder="PHONE NUMBER">
            <p id="message-default-phone">Only numbers and must have 10 numbers.</p>
            <p class="success" id="phone-success">The format looks good.</p>
            <span id="phone-error" class="error"></span>
          </div>
          <div class="create-input create-input-address">
            <h2>Address</h2>
            <input id="address" class="input-address" type="text" placeholder="ADDRESS">
            <p id="message-default-address">At least 5 characters with letters, numbers and a space in between.</p>
            <p class="success" id="address-success">The format looks good.</p>
            <span id="address-error" class="error"></span>
          </div>
          <div class="create-input create-input-city">
            <h2>City</h2>
            <input id="city" class="input-city" type="text" placeholder="CITY">
            <p id="message-default-city">Alphanumeric text and must have more than 3 letters.</p>
            <p class="success" id="city-success">The format looks good.</p>
            <span id="city-error" class="error"></span>
          </div>
          <div class="create-input create-input-code">
            <h2>Code</h2>
            <input id="code" class="input-code" type="text" placeholder="POSTAL CODE">
            <p id="message-default-code">Only numbers and must have between 4 and 5 numbers.</p>
            <p class="success" id="code-success">The format looks good.</p>
            <span id="code-error" class="error"></span>
          </div>
          <div class="create-input create-input-email">
            <h2>Email</h2>
            <input id="email" class="input-email" type="text" placeholder="EMAIL">
            <p id="message-default-email">Must have a valid email format.</p>
            <p class="success" id="email-success">The format looks good.</p>
            <span id="email-error" class="error"></span>
          </div>
          <div class="create-input create-input-password">
            <h2>Password</h2>
            <input id="password" class="input-password" type="password" placeholder="PASSWORD">
            <p id="message-default-password">At least 8 characters, consisting of letters and numbers.</p>
            <p class="success" id="password-success">The format looks good.</p>
            <span id="password-error" class="error"></span>
          </div>
          <div class="create-input create-input-confirm">
            <h2>Confirm Password</h2>
            <input id="confirm-password" class="input-confirm" type="password" placeholder="CONFIRM PASSWORD">
            <p id="message-default-confirm">At least 8 characters, consisting of letters and numbers.</p>
            <p class="success" id="confirm-success">The format looks good.</p>
            <span id="confirm-error" class="error"></span>
          </div>
        </div>
        <div class="member-create">
          <div class="member member-01">
            <input type="radio" name="member-option">
            <label>Only Classes $9.99</label>
          </div>
          <div class="member member-02">
            <input type="radio" name="member-option">
            <label>Classic $19.99</label>
          </div>
          <div class="member member-03">
            <input type="radio" name="member-option">
            <label>Black $39.99</label>
          </div>
        </div>
        <div class="member-button">
          <button id="register-btn">Register</button>
        </div>
      </form>
    </main>
    <footer>
      <div class="footer-social-media">
        <a href="https://www.facebook.com/" target="_blank">
          <img src="../../Assets/Images/facebook-logo.png" alt="Facebook icon"/>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../../Assets/Images/instagram-logo.png" alt="Instagram icon"/>
        </a>
        <a href="https://www.twitter.com/" target="_blank">
          <img src="../../Assets/Images/twitter-logo.png" alt="Twitter icon"/>
        </a>
      </div>
      <p>©2023 MEGAROCKET GYM. ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>