footer {
  background-color: white;
  text-align: center;
  }

footer p {
  background-color: #ECE9F1;
  padding: 30px;
  font-size: small;
  font-weight: 500;
}

.footer-social-media {
  padding: 40px;
}

.footer-social-media a {
  padding: 20px;
}