header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #373867;
}

header img {
  max-width: 100px;
}

.div-text-header {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.div-text-header p {
  font-size: 25px;
  font-weight: bold;
}